@import 'abstracts/mixins';

.img-wrapper {
  padding: 1rem;

  > .card-img {
    border-radius: 0.25rem;
  }
}

.card-body {
  @include flex-column;
  height: 100%;
  max-height: 24rem;

  > .description {
    flex: 1;
    overflow: auto;
  }

  > .favorite-btn {
    align-self: flex-end;
  }
}
