@import 'abstracts/mixins';

.card {
  text-decoration: none;
  color: reset;

  transition: border-color 0.3s;

  &:hover {
    border-color: #343a40;
  }
}

.img-wrapper {
  padding: 1rem;
}

.card-body {
  @include flex-column;
  height: 100%;

  // TODO: import breakpoint from bootstrap
  @media (min-width: 992px) {
    max-height: 20rem;
  }

  @media (min-width: 1200px) {
    max-height: 24rem;
  }

  > .description {
    flex: 1;
    overflow: auto;
  }

  > .favorite-btn {
    align-self: flex-end;
  }
}

.two-three {
  @include aspect-ratio(2, 3);

  > .content {
    background-color: var(--bs-gray);
  }
}
