@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins/breakpoints';
@import 'abstracts/mixins';

.card {
  text-decoration: none;
  color: reset;
}

.img-wrapper {
  padding: 1rem;
}

.card-body {
  @include flex-column;
  height: 100%;

  @include media-breakpoint-up(lg) {
    max-height: 20rem;
  }

  @include media-breakpoint-up(xl) {
    max-height: 24rem;
  }

  > .description {
    flex: 1;
    overflow: auto;
  }

  > app-favorite-button {
    align-self: flex-end;
  }
}
