<ng-container *ngIf="movies$.data | async as movies">
  <ng-content *ngIf="movies.results.length"></ng-content>

  <div class="row row-cols-1 row-cols-lg-2 g-4">
    <div class="col" *ngFor="let movie of movies.results; trackBy: trackByFn">
      <app-movie-card [movie]="movie"></app-movie-card>
    </div>
  </div>

  <app-movies-pagination [movies]="movies"></app-movies-pagination>
</ng-container>

<section [ngSwitch]="movies$.status | async">
  <app-loader
    *ngSwitchCase="Status.LOADING"
    text="Loading Movies..."
  ></app-loader>
  <span class="text-warning" role="status" *ngSwitchCase="Status.ERROR"
    >There was an error loading the movies.</span
  >
</section>
