<ng-container *ngIf="movie$ | async as movie">
  <div class="sixteen-nine">
    <div class="content rounded">
      <img
        src="https://image.tmdb.org/t/p/w1280{{ movie.backdropPath }}"
        class="img-fluid rounded w-100"
        alt="{{ movie.title }}"
      />
    </div>
  </div>
  <h1 class="display-1">
    {{ movie.title }}
  </h1>

  <div class="mb-2">
    <span class="badge badge-secondary">{{ movie.releaseDate }}</span>
    <span class="ml-2 badge badge-secondary">{{ movie.vote }}</span>
  </div>
  <h2 class="text-secondary">{{ movie.tagline }}</h2>
  <h5 class="text-secondary">{{ movie.genres }}</h5>
  <h5 class="text-secondary">{{ movie.runtime }}</h5>

  <h3>Stars</h3>
  <p class="lead">
    {{ movie.stars }}
  </p>

  <h3>Overview</h3>
  <p class="lead">
    {{ movie.overview }}
  </p>

  <app-favorite-button [movie]="favMovie"></app-favorite-button>
</ng-container>
