@import 'abstracts/mixins';

.sixteen-nine {
  @include aspect-ratio(16, 9);
  z-index: -1;

  > .content {
    background-color: var(--bs-gray);
  }

  &::after {
    @include absolute;
    background: linear-gradient(transparent, transparent 80%, var(--bs-white));

    content: '';
  }
}

h1 {
  margin-top: -2rem;
}

.badge {
  font-size: 1.25rem;
  background-color: var(--bs-gray);
}

.main-content {
  max-width: 58rem;
}
