<ng-container *ngIf="movie$.data | async as movie">
  <div class="sixteen-nine" @fade>
    <div class="content rounded">
      <img
        src="https://image.tmdb.org/t/p/w1280{{ movie.backdropPath }}"
        class="img-fluid rounded w-100"
        alt="{{ movie.title }}"
      />
    </div>
  </div>
  <div class="main-content mx-auto">
    <h1 class="display-1">
      {{ movie.title }}
    </h1>

    <div class="mb-2">
      <span class="badge" title="Release Date">{{ movie.releaseDate }}</span>
      <span class="ml-2 badge" title="Movie Rating">{{ movie.vote }}</span>
    </div>
    <h2 class="text-secondary">{{ movie.tagline }}</h2>
    <h5 class="text-secondary">{{ movie.genres }}</h5>
    <h5 class="text-secondary">{{ movie.runtime }}</h5>

    <hr />
    <h3>Stars</h3>
    <p class="lead">
      {{ movie.stars }}
    </p>

    <h3>Overview</h3>
    <p class="lead">
      {{ movie.overview }}
    </p>

    <div class="text-right">
      <app-favorite-button [movie]="favMovie"></app-favorite-button>
    </div>
  </div>
</ng-container>

<section [ngSwitch]="movie$.status | async">
  <app-loader
    *ngSwitchCase="Status.LOADING"
    text="Loading Movie..."
  ></app-loader>
  <span class="text-warning" role="status" *ngSwitchCase="Status.ERROR"
    >There was an error loading the movie.</span
  >
</section>

<hr />
<ng-container *ngIf="similar$">
  <h3>Similar Movies</h3>

  <app-movies [movies$]="similar$"></app-movies>
</ng-container>
